n8n/feedback_automation_workflow.json
{
  "name": "AI-Powered Customer Feedback Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a1f001-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "b1a1f001-0001-4000-8000-000000000002",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 380]
    },
    {
      "parameters": {
        "command": "python \"D:/Analyst/projects/AI-Powered Customer Feedback Automation Workflow/src/process_feedback.py\" --input \"D:/Analyst/projects/AI-Powered Customer Feedback Automation Workflow/data/sample_reviews.csv\" --output-dir \"D:/Analyst/projects/AI-Powered Customer Feedback Automation Workflow/data/output\""
      },
      "id": "b1a1f001-0001-4000-8000-000000000003",
      "name": "Run Python Pipeline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 290],
      "notes": "Runs the classification pipeline. Adjust the absolute path for your machine. The script prints a JSON line on stdout."
    },
    {
      "parameters": {
        "jsCode": "// The Python script prints a JSON status line on stdout.\n// Parse it so downstream nodes can branch on success/failure.\nconst stdout = $json[\"stdout\"] || \"\";\nconst lastLine = stdout.trim().split(\"\\n\").pop() || \"{}\";\nlet parsed;\ntry {\n  parsed = JSON.parse(lastLine);\n} catch (e) {\n  parsed = { status: \"error\", message: \"Could not parse pipeline output\" };\n}\nreturn [{ json: parsed }];"
      },
      "id": "b1a1f001-0001-4000-8000-000000000004",
      "name": "Parse Pipeline Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 290]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "b1a1f001-0001-4000-8000-000000000005",
      "name": "Pipeline Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 290]
    },
    {
      "parameters": {
        "subject": "✅ Customer Feedback Report Ready",
        "text": "=Feedback pipeline completed.\n\nTotal reviews: {{ $json.summary.total_reviews }}\nNegative share: {{ $json.summary.negative_share_pct }}%\nHigh-urgency: {{ $json.summary.high_urgency_count }}\n\nReport: {{ $json.outputs.summary_md }}"
      },
      "id": "b1a1f001-0001-4000-8000-000000000006",
      "name": "Notify Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1240, 200],
      "notes": "Placeholder. Swap for an Email / Slack / Google Sheets node. Map summary fields directly from the incoming JSON."
    },
    {
      "parameters": {
        "subject": "⚠️ Customer Feedback Pipeline FAILED",
        "text": "=The feedback pipeline reported an error:\n{{ $json.message }}"
      },
      "id": "b1a1f001-0001-4000-8000-000000000007",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1240, 380],
      "notes": "Placeholder. Swap for an Email / Slack alert node so failures are visible."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Run Python Pipeline", "type": "main", "index": 0 }]]
    },
    "Daily Schedule": {
      "main": [[{ "node": "Run Python Pipeline", "type": "main", "index": 0 }]]
    },
    "Run Python Pipeline": {
      "main": [[{ "node": "Parse Pipeline Output", "type": "main", "index": 0 }]]
    },
    "Parse Pipeline Output": {
      "main": [[{ "node": "Pipeline Succeeded?", "type": "main", "index": 0 }]]
    },
    "Pipeline Succeeded?": {
      "main": [
        [{ "node": "Notify Success", "type": "main", "index": 0 }],
        [{ "node": "Notify Failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
